@page "/play-action-screen"

<p>
    <button @onclick="OpenPlayActionScreen">
    </button>
</p>


@code {
    private void OpenPlayActionScreen()
    {
        Form1 objForm1 = new Form1();
        objForm1.Show();
    }
}
