<p>GAME STARTING IN @time SECONDS</p>

@code {
    private int time = 0;
    private DateTime start = DateTime.Now;
    public bool timerEnd = false;
    private int timerLen = 30;

    private void warning()
    {
        time = (int)(timerLen - (DateTime.Now - start).TotalSeconds);
        if (time >= 0) {
            StateHasChanged();
        } else
        {
            timerEnd = true;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        warning();
    }
}
