@if(timerEnd == false)
{
    <p>
<H1><FONT COLOR="#66FF00">
<div style="border-radius: 10px; 
			background: black; 
			padding: 10px; 
			border: 10px solid lightgray;
			font-family: Stencil;">
  GAME STARTS IN @time
</div>
</FONT></H1>
</p>
}


@code {
    private int time = 0;
    private DateTime start = DateTime.Now;
    public bool timerEnd = false;
    private int timerLen = 30;
    [Parameter]
    public EventCallback TimerFinished { get; set; }

    private void warning()
    {
        time = (int)(timerLen - (DateTime.Now - start).TotalSeconds);
        if (time >= 0) {
            StateHasChanged();
        } else
        {
            timerEnd = true;
            TimerFinished.InvokeAsync();
        }
    }
    protected override void OnInitialized()
    {
        time = timerLen;
        base.OnInitialized();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if(!timerEnd)
        {
            warning();
        }
        
    }
}
