@inject NavigationManager NavManager
@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime;
@page "/playscreen"


<PageTitle>Index</PageTitle>

<div class="splash">
    <img src=images/logo.jpg alt="logo" style="width:100%;height:100%;" />
</div>
<PlayerList/>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Delay(3000);
        await JsRuntime.InvokeVoidAsync("hideSplash");
    }
}

