@page "/"

<body>
    <section class="bg-black" id="player_list">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 my-4">
                    <h2 class= "red_team text-center">alpha red</h2>
                    <div class="dashed_boarder red_team p-5">
                        <p>Player1</p>
                        <p>Player2</p>
                        <p>Player3</p>
                        <p>Player4</p>
                        <p>Player5</p>
                    </div>
                </div>
                <div class="col-6 my-4">
                    <h2 class= "grn_team text-center">alpha grn</h2>
                    <div class="dashed_boarder grn_team p-5" >
                        <p>Player1</p>
                        <p>Player2</p>
                        <p>Player3</p>
                        <p>Player4</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="events" style="background-color: #484747;">
        <div class ="container-fluid">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 my-4">
                    <h2 class= "events text-center">events</h2>
                    <div class="dashed_boarder events p-5">
                         <p>event1</p>
                         <p>event2</p>
                         <p>event3</p>
                         <p>event4</p>
                         <p>event5</p>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </section>
</body>
@code {

}
